In [3]:
import pandas as pd

In [4]:
s = pd.Series(data=[100, 'a', { 'dic1': 5 }],
        index=pd.Index(['Iid1', 20, 'third'], name= 'my_idx'),
dtype= 'object',
name= 'my _name')

In [7]:
s2 = pd.Series([100,'a', {'dic1':5}], index=['Pxxxx',111,'ssss'])

In [8]:
s2.shape[0]

3

In [9]:
s2.size

3

In [11]:
d = {  
    "one" : pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),  
    "two" : pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])  
}  
df = pd.DataFrame(d)

In [18]:
import pandas as pd  
  
书籍 = {  
    "作者": ['余华', '方方'],  
    "作品名称": ['活着', '水在时间之下']  
}  
  
df2 = pd.DataFrame(书籍)  
  
print(df2)

   作者    作品名称
0  余华      活着
1  方方  水在时间之下

In [19]:
b=[1,2,3]

In [20]:
books[1]

{'title': 'Book 2', 'author': 'Author 2', 'price': 19.99}

In [23]:
#数据框的行索引
i=df2.index.values

In [24]:
#获取作品名称
df2.作者

0    余华
1    方方
Name: 作者, dtype: object

In [26]:
df2[['作品名称','作者']]

     作品名称  作者
0      活着  余华
1  水在时间之下  方方