In [4]:
import pandas as pd  
from tabulate import tabulate  # 从tabulate模块中导入tabulate函数  
  
# 创建一个示例 DataFrame  
data = {  
    'column1': [1, None, 3, None],  
    'Column2': [4, None, None, None],  
    'Column3': [7, 8, 9, None],  
    'Column4': [7, 8, 9, None]  
}  
df = pd.DataFrame(data)  
print("原始 DataFrame：")  
print(tabulate(df, headers='keys', tablefmt='pretty'))  # 使用tabulate函数来美化打印DataFrame  
  
# 列出所有空白值  
print("列出所有空白值：")  
print(df[df.isnull().T.any()])

原始 DataFrame：
+---+---------+---------+---------+---------+
|   | column1 | Column2 | Column3 | Column4 |
+---+---------+---------+---------+---------+
| 0 |   1.0   |   4.0   |   7.0   |   7.0   |
| 1 |   nan   |   nan   |   8.0   |   8.0   |
| 2 |   3.0   |   nan   |   9.0   |   9.0   |
| 3 |   nan   |   nan   |   nan   |   nan   |
+---+---------+---------+---------+---------+
列出所有空白值：
   column1  Column2  Column3  Column4
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0
3      NaN      NaN      NaN      NaN

In [5]:
# 列出所有空白值  
print("列出所有空白值：")  
df.isnull()

列出所有空白值：

   column1  Column2  Column3  Column4
0    False    False    False    False
1     True     True    False    False
2    False     True    False    False
3     True     True     True     True

In [6]:
# 列出所有空白值  
print("列出所有空白值：")  
df.isnull().T

列出所有空白值：

             0      1      2     3
column1  False   True  False  True
Column2  False   True   True  True
Column3  False  False  False  True
Column4  False  False  False  True

In [7]:
df.dropna(how='all', inplace=True)  
# 打印处理后的 DataFrame  
print("处理后的 DataFrame：")  
print(df)

处理后的 DataFrame：
   column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0

In [8]:
#删除所有列都是空值的行
df1=df.dropna(how='all')  
# 打印处理后的 DataFrame  
df

   column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0

In [9]:
df1

   column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      NaN      NaN      8.0      8.0
2      3.0      NaN      9.0      9.0

In [10]:
# 将 NaN 价替换为0  
df_filled = df.fillna(0)  
  
print("\n填充后的DataFrame:")  
print(df_filled)

填充后的DataFrame:
   column1  Column2  Column3  Column4
0      1.0      4.0      7.0      7.0
1      0.0      0.0      8.0      8.0
2      3.0      0.0      9.0      9.0

In [11]:
# 将 NaN 值替换为 0  
df_filled = df.fillna('空白值')
df_filled

  column1 Column2  Column3  Column4
0     1.0     4.0      7.0      7.0
1     空白值     空白值      8.0      8.0
2     3.0     空白值      9.0      9.0

In [12]:
import mytools

In [13]:
数据表 = mytools.读取SPSS数据文件("data\identity.sav", True)

In [14]:
import pandas as pd

# 示例数据
data = {'value': [10, 12, 12, 13, 12, 11, 10, 29, 30, 11, 10, 100]}
df = pd.DataFrame(data)

# 计算均值和标准差
mean = df['value'].mean()
std = df['value'].std()
condition1 = (df['value'] < mean - 3 * std) | (df['value'] > mean + 3 * std)
# 识别异常值
outliers1 = df[condition1]
print('使用标准差判断的异常值为：',outliers1)

# 计算 IQR
Q1 = df['value'].quantile(0.25)
Q3 = df['value'].quantile(0.75)
IQR = Q3 - Q1

# 识别异常值
outliers2 = df[(df['value'] < Q1 - 1.5 * IQR) | (df['value'] > Q3 + 1.5 * IQR)]
print('使用IQR判断的异常值为：',outliers2)

使用标准差判断的异常值为：     value
11    100
使用IQR判断的异常值为：     value
7      29
8      30
11    100

In [15]:
数据表.drop_duplicates(subset=['问卷编号'],keep='first',inplace=True)

In [16]:
import pandas as pd
df_movie = pd.read_csv(R'data\movie_data_cleaned.csv')
df_movie.dtypes

Unnamed: 0        int64
average         float64
country          object
genre            object
language         object
release_date     object
title            object
votes           float64
dtype: object

In [18]:
df_movie.dropna(how='any',inplace=True)

In [19]:
# 使用query
condition = '会以中国人自豪吗=="会" and 会隐瞒身份吗=="一定会"'
# 取得逻辑不一致数据的序号列表
result = 数据表.query(condition).index
print(result)
# 使用drop函数删除指定
数据表.drop(index=result,inplace=True)

Index([ 69, 183, 184, 294, 347, 374, 394, 412, 448, 467, 498, 561, 566, 595,
       612, 615, 625, 643, 742, 745, 757, 769, 777, 813, 819, 824, 829, 836,
       843, 848],
      dtype='int64')